*{
	padding:0;
	margin:0;
	box-sizing: border-box;
	outline: none;
}

/*Global Style */
img{
	width:200px;
	height: 200px;
}

button{
	padding: 10px;
	border:none;
	border-radius: 4px;
	background-color: red;
	color: #fff;
	width: 70px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
	cursor: pointer;
}


input{
	width:90%;
	padding: 10px;
	margin:10px;
	border:1px solid rgba(0, 0, 0, 0.5);
	border-radius: 4px;
}

/*General Style*/
header, body, footer{
	width:100%;
	margin-top:20px;
}

header{
	border:1px solid green;
	height: 100px;
	text-align: center;
}

.about-me, .one{
	display: flex;
}




/*First section in the body*/
.about-me{
	justify-content: space-between;

}

.about-me div{
	width:340px;
	height: 200px;
	border:1px solid rgba(0, 0, 0, 0.5);
	margin:10px;
}

.one{
	justify-content: center;
	flex-direction: column;
	align-items: center;
	text-align: center;
}






/* Second Section in the body*/
.more-info{
	background-color: grey;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	text-align: center;

}


.info-image{
	display: flex;
	justify-content: center;
	margin-top: 20px;
}


.info-image p{
	width:500px;
}


/*This is the third section in HTML and CSS*/

.send-shipping{
	display: flex;
	justify-content: space-between;
}

.send-shipping div{
	border:1px solid rgba(0, 0, 0, 0.5);
	width:50%;
	height: 300px;
	margin:10px;

}

.send-shipping .input-data{
	height: 200px;
}


.two{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	text-align: center;
}



/*This is the fourth with the quote*/
.send-shipping .quote{
	border:1px solid rgba(0, 0, 0, 0.5);
	width: 55%;
	height: 400px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.send-shipping .not-quote{
	width: 45%;
	height: 400px;

}



/*This is the fifth section in the body*/

.send-shipping  .input-data{
	display: flex;
	justify-content: space-between;
	width: 100%;
	border:none;

}

.send-shipping  .input-data div{
	border:none;
}

/*This is the footer section*/
/*
footer{
	border:1px solid orange;
	height: 100px;
	position: absolute;
	bottom: 0;
}
*/


















